* {
	margin: 0;
	padding: 0;
	font: inherit;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden], template {
	display: none;
}
html {
	font-family: sans-serif;
	    -ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-focus-ring-color: rgba(255,255,255,0);
	cursor: default;
}
body {
	font-size: 100%;
	line-height: 1;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
a {
	background: transparent;
}
*:focus, *:active, *:hover {
	outline: 0;
}
hr {
	box-sizing: content-box;
	height: 0;
}
ol, ul {
	list-style: none;
}
pre {
	tab-size: 4;
	white-space: pre-wrap;
}
q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}
img {
	border: 0;
}
svg:not(:root) {
	overflow: hidden;
}
button, input {
	line-height: normal;
}
button, select {
	text-transform: none;
}
button {
	overflow: visible;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled], html input[disabled] {
	cursor: default;
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
button, input, select[multiple], textarea {
	background-image: none;
}
input, select, textarea {
	border-radius: 0;
	box-shadow: none;
}
input, textarea {
	resize: none;
	user-select: text;
}
[placeholder]:focus::placeholder {
	color: transparent;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
	font-family: "aleo bold";
	src: url("../fonts/aleo-bold-webfont.eot");
	src: url("../fonts/aleo-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo-bold-webfont.woff2") format("woff2"), url("../fonts/aleo-bold-webfont.woff") format("woff"), url("../fonts/aleo-bold-webfont.ttf") format("truetype"), url("../fonts/aleo-bold-webfont.svg#aleobold") format("svg");
	font-weight: normal;
	font-style: normal;
}
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	user-select: none;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}
.slick-list:focus {
	outline: none;
}
.slick-loading .slick-list {
	background: #fff url("../images/ajax-loader.gif") center center no-repeat;
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}
.slick-slider .slick-track, .slick-slider .slick-list {
	transform: translate3d(0, 0, 0);
}
.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
}
.slick-track:before, .slick-track:after {
	content: "";
	display: table;
}
.slick-track:after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}
.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}
[dir="rtl"] .slick-slide {
	float: right;
}
.slick-slide img {
	display: block;
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-slide.dragging img {
	pointer-events: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}
@font-face {
	font-family: "slick";
	src: url("../fonts/slick.eot");
	src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
	font-weight: normal;
	font-style: normal;
}
.slick-prev, .slick-next {
	position: absolute;
	display: block;
	height: 20px;
	width: 20px;
	line-height: 0;
	font-size: 0;
	cursor: pointer;
	background: transparent;
	color: transparent;
	top: 50%;
	margin-top: -10px;
	padding: 0;
	border: none;
	outline: none;
}
.slick-prev:hover, .slick-next:hover, .slick-prev:focus, .slick-next:focus {
	outline: none;
	background: transparent;
	color: transparent;
}
.slick-prev:hover:before, .slick-next:hover:before, .slick-prev:focus:before, .slick-next:focus:before {
	opacity: 1;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
	opacity: 0.25;
}
.slick-prev:before, .slick-next:before {
	font-family: "slick";
	font-size: 20px;
	line-height: 1;
	color: #fff;
	opacity: 0.75;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-prev {
	left: -25px;
}
[dir="rtl"] .slick-prev {
	left: auto;
	right: -25px;
}
.slick-prev:before {
	content: "\2190";
}
[dir="rtl"] .slick-prev:before {
	content: "\2192";
}
.slick-next {
	right: -25px;
}
[dir="rtl"] .slick-next {
	left: -25px;
	right: auto;
}
.slick-next:before {
	content: "\2192";
}
[dir="rtl"] .slick-next:before {
	content: "\2190";
}
.slick-slider {
	margin-bottom: 30px;
}
.slick-dots {
	position: absolute;
	bottom: -45px;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	padding-left: 25px;
	width: 100%;
}
.slick-dots li {
	position: relative;
	display: inline-block;
	height: 20px;
	width: 20px;
	margin: 0 12px;
	padding: 0;
	cursor: pointer;
}
.slick-dots li button {
	border: 0;
	background: transparent;
	display: block;
	height: 20px;
	width: 20px;
	outline: none;
	line-height: 0;
	font-size: 0;
	color: transparent;
	cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
	outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
	opacity: 1;
}
.slick-dots li button:before {
	position: absolute;
	top: 0;
	left: 0;
	content: "\2022";
	width: 20px;
	height: 20px;
	font-family: "slick";
	font-size: 40px;
	line-height: 20px;
	text-align: center;
	color: #d7e1e5;
	opacity: 0.25;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
	color: $lightgreen;
	opacity: 0.75;
}
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	color: #0c0c0c;
	font-size: 20px;
	background: #fff;
	font-size: 20px;
	overflow: hidden;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}
body[data-hijacking="on"] {
	overflow: hidden;
}
body::before {
	content: "mobile";
	display: none;
}
@media only screen and (min-width: 1050px) {
	body::before {
		/* never visible - this is used in jQuery to check the current MQ */
		content: "desktop";
		display: none;
	}
	[data-hijacking="on"] .cd-section {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-width: 1200px;
	}
	[data-hijacking="on"] .cd-section > div {
		visibility: visible;
	}
	.cd-section:first-of-type > div::before {
		display: none;
	}
	[data-hijacking="on"] .cd-section > div {
		position: absolute;
	}
	[data-animation="rotate"] .cd-section > div {
		-webkit-transform-origin: center bottom;
		   -moz-transform-origin: center bottom;
		    -ms-transform-origin: center bottom;
		     -o-transform-origin: center bottom;
		        transform-origin: center bottom;
	}
}
.main {
	min-width: 1262px;
}
a {
	text-decoration: none;
	color: #000;
}
.button {
	color: #fff;
	display: inline-block;
	text-align: center;
	padding: 0 15px;
}
.button_blue {
	background-color: #1d7e9f;
	text-shadow: 0 1px 0 rgba(6,7,9,0.16);
	border-radius: 5px;
}
.button_green {
	background-color: #25921a;
}
.mCustomScrollbar {
	-ms-touch-action: pinch-zoom;
	    touch-action: pinch-zoom;
	/* direct pointer events to js */
}
.mCustomScrollbar.mCS_no_scrollbar, .mCustomScrollbar.mCS_touch_action {
	-ms-touch-action: auto;
	    touch-action: auto;
}
.mCustomScrollBox {
	/* contains plugin's markup */
	position: relative;
	overflow: hidden;
	height: 100%;
	max-width: 100%;
	outline: none;
	direction: ltr;
}
.mCSB_container {
	/* contains the original content */
	overflow: hidden;
	width: auto;
	height: 240px;
}
.mCSB_inside > .mCSB_container {
	margin-right: 30px;
}
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
	margin-right: 0;
}
.mCS-dir-rtl > .mCSB_inside > .mCSB_container {
	/* RTL direction/left-side scrollbar */
	margin-right: 0;
	margin-left: 30px;
}
.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
	margin-left: 0;
}
.mCSB_scrollTools {
	/* contains scrollbar markup (draggable element, dragger rail, buttons etc.) */
	position: absolute;
	width: 16px;
	height: auto;
	left: auto;
	top: 0;
	right: 0;
	bottom: 0;
}
.mCSB_outside + .mCSB_scrollTools {
	right: -26px;
}
.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools, .mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
	/* RTL direction/left-side scrollbar */
	right: auto;
	left: 0;
}
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
	left: -26px;
}
.mCSB_scrollTools .mCSB_draggerContainer {
	/* contains the draggable element and dragger rail markup */
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: auto;
}
.mCSB_scrollTools a + .mCSB_draggerContainer {
	margin: 20px 0;
}
.mCSB_scrollTools .mCSB_draggerRail {
	width: 2px;
	height: 100%;
	margin: 0 auto;
	-webkit-border-radius: 16px;
	   -moz-border-radius: 16px;
	        border-radius: 16px;
}
.mCSB_scrollTools .mCSB_dragger {
	/* the draggable element */
	cursor: pointer;
	width: 100%;
	height: 30px; /* minimum dragger height */
	z-index: 1;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	/* the dragger element */
	position: relative;
	width: 4px;
	height: 100%;
	margin: 0 auto;
	-webkit-border-radius: 16px;
	   -moz-border-radius: 16px;
	        border-radius: 16px;
	text-align: center;
}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
	width: 12px;
	/* auto-expanded scrollbar */
}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
	width: 8px;
	/* auto-expanded scrollbar */
}
.mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown {
	display: block;
	position: absolute;
	height: 20px;
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	cursor: pointer;
}
.mCSB_scrollTools .mCSB_buttonDown {
	bottom: 0;
}
.mCSB_horizontal.mCSB_inside > .mCSB_container {
	margin-right: 0;
	margin-bottom: 30px;
}
.mCSB_horizontal.mCSB_outside > .mCSB_container {
	min-height: 100%;
}
.mCSB_horizontal > .mCSB_container.mCS_no_scrollbar_x.mCS_x_hidden {
	margin-bottom: 0;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal {
	width: auto;
	height: 16px;
	top: auto;
	right: 0;
	bottom: 0;
	left: 0;
}
.mCustomScrollBox + .mCSB_scrollTools.mCSB_scrollTools_horizontal, .mCustomScrollBox + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal {
	bottom: -26px;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal a + .mCSB_draggerContainer {
	margin: 0 20px;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
	width: 100%;
	height: 2px;
	margin: 7px 0;
	background: #000 !important;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger {
	width: 80px !important; /* minimum dragger width */
	height: 100%;
	left: 0;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
	width: 80px;
	height: 8px;
	margin: 4px auto 0;
}
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
	height: 12px; /* auto-expanded scrollbar */
	margin: 2px auto;
}
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
	height: 8px; /* auto-expanded scrollbar */
	margin: 4px 0;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft, .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
	display: block;
	position: absolute;
	width: 20px;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
	cursor: pointer;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft {
	left: 0;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
	right: 0;
}
.mCSB_container_wrapper {
	position: absolute;
	height: auto;
	width: auto;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-right: 30px;
	margin-bottom: 30px;
}
.mCSB_container_wrapper > .mCSB_container {
	padding-right: 30px;
	padding-bottom: 30px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_vertical {
	bottom: 20px;
}
.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
	right: 20px;
}
.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden + .mCSB_scrollTools.mCSB_scrollTools_vertical {
	bottom: 0;
}
.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal, .mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
	right: 0;
}
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
	left: 20px;
}
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal {
	left: 0;
}
.mCS-dir-rtl > .mCSB_inside > .mCSB_container_wrapper {
	/* RTL direction/left-side scrollbar */
	margin-right: 0;
	margin-left: 30px;
}
.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden > .mCSB_container {
	padding-right: 0;
}
.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden > .mCSB_container {
	padding-bottom: 0;
}
.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden {
	margin-right: 0; /* non-visible scrollbar */
	margin-left: 0;
}
.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden {
	margin-bottom: 0;
}
.mCSB_scrollTools, .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight {
	-webkit-transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
	   -moz-transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
	     -o-transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
	        transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar, .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail, .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar, .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail {
	-webkit-transition: width 0.2s ease-out 0.2s, height 0.2s ease-out 0.2s, margin-left 0.2s ease-out 0.2s, margin-right 0.2s ease-out 0.2s, margin-top 0.2s ease-out 0.2s, margin-bottom 0.2s ease-out 0.2s, opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
	   -moz-transition: width 0.2s ease-out 0.2s, height 0.2s ease-out 0.2s, margin-left 0.2s ease-out 0.2s, margin-right 0.2s ease-out 0.2s, margin-top 0.2s ease-out 0.2s, margin-bottom 0.2s ease-out 0.2s, opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
	     -o-transition: width 0.2s ease-out 0.2s, height 0.2s ease-out 0.2s, margin-left 0.2s ease-out 0.2s, margin-right 0.2s ease-out 0.2s, margin-top 0.2s ease-out 0.2s, margin-bottom 0.2s ease-out 0.2s, opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
	        transition: width 0.2s ease-out 0.2s, height 0.2s ease-out 0.2s, margin-left 0.2s ease-out 0.2s, margin-right 0.2s ease-out 0.2s, margin-top 0.2s ease-out 0.2s, margin-bottom 0.2s ease-out 0.2s, opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
	background-color: #000;
	background-color: rgba(0,0,0,0.15);
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: #000;
	background-color: #000;
	border-radius: 0 !important;
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
	background-color: rgba(0,0,0,0.85);
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
	background-color: rgba(0,0,0,0.9);
}
.mCS-dark.mCSB_scrollTools .mCSB_buttonUp {
	background-position: -80px 0;
}
.mCS-dark.mCSB_scrollTools .mCSB_buttonDown {
	background-position: -80px -20px;
}
.mCS-dark.mCSB_scrollTools .mCSB_buttonLeft {
	background-position: -80px -40px;
}
.mCS-dark.mCSB_scrollTools .mCSB_buttonRight {
	background-position: -80px -56px;
}
.header {
	height: 100vh;
	min-height: 600px;
	width: 100%;
	background-color: #38a3c8;
	position: relative;
	color: #fff;
	overflow: hidden;
}
.header__in {
	width: 1262px;
	margin: 0 auto;
	height: 100vh;
}
.header__promo {
	padding-top: 300px;
	position: absolute;
	bottom: -3px;
}
.header__promo:before, .header__promo:after {
	content: "";
	display: table;
}
.header__promo:after {
	clear: both;
}
.header__image {
	float: left;
}
.header__promo-right {
	float: right;
	padding-left: 75px;
}
.header__heading {
	font-size: 45px;
	text-transform: uppercase;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 700;
	width: 450px;
	line-height: 1.3;
	margin-bottom: 30px;
}
.header__button {
	display: inline-block;
	padding: 15px 35px 17px;
	font-size: 18px;
}
.header__more {
	font-size: 16px;
	opacity: 0.55;
	position: absolute;
	bottom: 45px;
	right: 185px;
}
.header__more:before {
	content: "";
	background-image: url("../images/sprites/sprites.png");
	background-position: -233px -552px;
	width: 39px;
	height: 39px;
	position: absolute;
	left: -50px;
	top: 10px;
}
.topline {
	margin: 0 auto;
	min-height: 55px;
	width: 100%;
	padding-top: 18px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #38a3c8;
}
.topline:before, .topline:after {
	content: "";
	display: table;
}
.topline:after {
	clear: both;
}
.topline__in {
	width: 1262px;
	margin: 0 auto;
}
.topline__logo {
	background-image: url("../images/sprites/sprites.png");
	background-position: -194px -522px;
	width: 137px;
	height: 30px;
	float: left;
	display: block;
}
.topline__nav {
	float: left;
	margin-left: 210px;
	padding-bottom: 8px;
	border-bottom: 3px solid #1d7e9f;
}
.topline__item {
	display: inline-block;
}
.topline__link {
	display: block;
	color: #fff;
	font-size: 14px;
	margin-right: 30px;
	position: relative;
}
.topline__link:hover {
	top: -5px;
}
.topline__link:hover:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	background: 0;
	border-style: solid;
	border-width: 0 6.5px 6px 6.5px;
	border-color: transparent transparent #1d7e9f transparent;
	bottom: -14px;
	left: 50%;
	margin-left: -6.5px;
}
.topline__link_active {
	top: -5px;
}
.topline__link_active:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	background: 0;
	border-style: solid;
	border-width: 0 6.5px 6px 6.5px;
	border-color: transparent transparent #1d7e9f transparent;
	bottom: -14px;
	left: 50%;
	margin-left: -6.5px;
}
.topline__link_last {
	margin-right: 0;
}
.topline__contact {
	float: right;
	height: 35px;
	line-height: 35px;
}
.topline__num {
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
	display: inline-block;
}
.topline__call-us {
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	font-size: 14px;
	margin-left: 27px;
}
.results {
	height: 100vh;
	background: url("../images/results-bg.jpg") no-repeat 100%/cover;
	color: #fff;
	width: 100%;
	padding-top: 100px;
	z-index: 10;
	position: relative;
	overflow: hidden;
}
.results__in {
	width: 1262px;
	margin: 0 auto;
	height: 100vh;
}
.results__heading {
	font-size: 48px;
	width: 500px;
	padding-top: 35px;
	position: relative;
	margin-bottom: 35px;
	line-height: 1.1;
	border-top: 2px solid #25921a;
}
.results__heading:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	background: 0;
	border-style: solid;
	border-width: 0 15.5px 16px 15.5px;
	border-color: transparent transparent #25921a transparent;
	top: -17.5px;
}
.results__text {
	width: 650px;
	line-height: 1.35;
	font-size: 20px;
	margin-bottom: 45px;
}
.results__text span {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}
.results__info {
	position: absolute;
	top: 0;
	background-image: url("../images/sprites/sprites.png");
	background-position: 0 -491px;
	width: 194px;
	height: 150px;
	left: 60%;
	padding-left: 34px;
	padding-top: 34px;
	top: 30px;
}
.results__info:after {
	content: "";
	position: absolute;
	background-image: url("../images/sprites/sprites.png");
	background-position: -194px -552px;
	width: 39px;
	height: 60px;
	right: 15px;
	bottom: -10px;
}
.results__info-text {
	font-size: 14px;
	line-height: 1.2;
}
.results__info-text span {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}
.results__ref {
	font-family: "aleo bold", sans-serif;
	color: #fff;
	font-size: 21px;
	margin-bottom: 5px;
	display: inline-block;
}
.results__button {
	height: 60px;
	line-height: 60px;
	padding: 0 63px 0 38px;
}
.results__caption {
	position: absolute;
	bottom: 48px;
	right: 0;
	width: 352px;
	height: 57px;
	background-color: rgba(255,255,255,0.8);
	padding-left: 17px;
	padding-top: 4px;
	color: #000;
}
.results__caption-heading {
	line-height: 1.35;
}
.results__caption-subheading {
	font-size: 16px;
}
.points {
	width: auto;
	height: 60px;
	position: absolute;
	top: -140px;
	left: 0;
	transition: all 0.3s;
}
.points__bar-outer {
	background-image: url("../images/sprites/sprites.png");
	background-position: -194px -491px;
	width: 351px;
	height: 31px;
	position: relative;
}
.points__circle-inner {
	width: 38px;
	height: 38px;
	border-radius: 50%;
	border: 1px solid #479546;
	background-color: #1c9f00;
	background-image: linear-gradient(to top, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.2) 100%);
	box-shadow: 0 1px 3px rgba(0,0,0,0.4), inset 0 2px 0 rgba(255,255,255,0.03), inset 0 0 3px rgba(255,255,255,0.35);
	position: absolute;
	top: 50%;
	margin-top: -20px;
	left: 0;
	transition: all 0.4s;
	        transform: scale(0);
	-webkit-transform: scale(0) /* Для Safari, Chrome, iOS */;
}
.points__circle-inner_accomplished {
	width: 21px;
	height: 21px;
	transform: scale(1);
	left: 5px;
	margin-top: -11.5px;
}
.points__circle-inner_accomplished:before {
	content: "";
	background-image: url("../images/sprites/sprites.png");
	background-position: -545px -498px;
	width: 9px;
	height: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -6px;
	margin-left: -4.5px;
}
.points__circle-inner_visible {
	        transform: scale(1);
	-webkit-transform: scale(1) /* Для Safari, Chrome, iOS */;
}
.points__circle-inner_visible:before {
	content: "";
	background-image: url("../images/sprites/sprites.png");
	background-position: -545px -491px;
	width: 23px;
	height: 7px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -3.5px;
	margin-left: -11.5px;
}
.points__circle-inner:nth-child(2) {
	left: 105px;
}
.points__circle-inner:nth-child(3) {
	left: 210px;
}
.points__circle-inner:nth-child(4) {
	right: 0;
	left: auto;
}
.management {
	height: 100vh;
	background-color: #f00;
	width: 100%;
	background: url("../images/management-bg.jpg") no-repeat 100%/cover;
	padding-top: 195px;
	position: relative;
}
.management__in {
	width: 1262px;
	margin: 0 auto;
	height: 100vh;
	position: relative;
}
.management__heading {
	font-size: 48px;
	width: 500px;
	position: relative;
	margin-bottom: 40px;
	line-height: 1.2;
}
.management__text {
	width: 650px;
	line-height: 1.35;
	font-size: 20px;
	margin-bottom: 45px;
}
.management__text strong {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}
.management__button {
	height: 60px;
	line-height: 60px;
	padding: 0 62px 0 38px;
	clear: both;
	overflow: hidden;
	display: block;
	float: left;
}
.management__caption {
	position: absolute;
	bottom: 48px;
	right: 0;
	width: 352px;
	height: 57px;
	background-color: rgba(0,0,0,0.8);
	padding-left: 17px;
	width: 350px;
	padding-top: 4px;
	color: #fff;
	display: inline-block;
}
.management__caption-heading {
	line-height: 1.35;
}
.management__caption-subheading {
	font-size: 16px;
}
.management__audio {
	font-size: 18px;
	color: #7d7c7c;
	display: block;
	padding-bottom: 1px;
	margin-top: 22px;
	border-bottom: 1px dashed #7d7c7c;
	clear: left;
	float: left;
}
.marketing {
	height: 100vh;
	width: 100%;
	background: url("../images/marketing-bg.jpg") no-repeat 50%/cover;
	padding-top: 195px;
	position: relative;
}
.marketing__in {
	width: 1262px;
	margin: 0 auto;
	height: 100vh;
	position: relative;
}
.marketing__heading {
	font-size: 48px;
	width: 640px;
	position: relative;
	margin-bottom: 40px;
	line-height: 1.2;
}
.marketing__text {
	width: 650px;
	line-height: 1.35;
	font-size: 20px;
	margin-bottom: 45px;
}
.marketing__text strong {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}
.marketing__button {
	height: 60px;
	line-height: 60px;
	padding: 0 35px 0 25px;
	clear: both;
	overflow: hidden;
	display: block;
	float: left;
}
.marketing__caption {
	position: absolute;
	bottom: 48px;
	right: 0;
	width: 352px;
	height: 57px;
	background-color: rgba(0,0,0,0.8);
	padding-left: 17px;
	width: 350px;
	padding-top: 4px;
	color: #fff;
	display: inline-block;
}
.marketing__caption-heading {
	line-height: 1.35;
}
.marketing__caption-subheading {
	font-size: 16px;
}
.marketing__audio {
	font-size: 18px;
	color: #7d7c7c;
	display: block;
	padding-bottom: 1px;
	margin-top: 22px;
	border-bottom: 1px dashed #7d7c7c;
	clear: left;
	float: left;
	display: block;
	padding-bottom: 1px;
	margin-top: 22px;
	border-bottom: 1px dashed #7d7c7c;
	clear: left;
	float: left;
}
