html
  box-sizing border-box

*, *:before, *:after 
  box-sizing inherit

body
  color #0c0c0c
  font-size 20px
  background white
  font-size 20px
  rb300()
  

body::before
	content: 'mobile'
	display: none
	  
@media only screen and (min-width: 1050px) {
  body[data-hijacking="on"] {
	overflow: hidden
  }
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
    display none
  }
  [data-hijacking="on"] .cd-section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1200px
  }
  [data-hijacking="on"] .cd-section > div {
    visibility: visible;
  }
   .cd-section:first-of-type > div::before {
    display: none;
  }
  [data-hijacking="on"] .cd-section > div {
    position: absolute;
  }
  [data-animation="rotate"] .cd-section > div {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
  }
}

.main
  min-width 1262px
a
	text-decoration none
	color black

// BUTTON STYLES

.button 
	color white
	display inline-block
	text-align center
	padding 0 15px
	&_blue
		background-color #1d7e9f
		text-shadow 0 1px 0 rgba(6, 7, 9, 0.16)
		border-radius 5px
	&_green
		background-color #25921a
  

// POPUP

.popup
  position fixed
  width 100%
  height 100%
  background-color rgba(0, 0, 0, 0.7)
  z-index 2000
  height 0
  opacity 0
  overflow hidden
  transition opacity 0.3s
  &_visible
  	opacity 1
  	height 100%
  &__desc
    color white
    width 900px
    height 440px
    rb300()
    position absolute
    padding 75px 30px
    background  black url(../images/popup-bg.jpg) no-repeat 0
    top 50%
    left 50%
    margin-left -450px
    margin-top -(@height / 2)
    transition all 0.6s
    transition-delay 1s
  &__heading
    rbc700()
    font-size 26px
    text-transform uppercase
    margin-bottom 22px
  &__text
    margin-bottom 15px
    width 300px
    line-height 1.2
    &_changing
    	margin-bottom 25px
  &__phone
    margin-bottom 5px
    font-size 24px  
    &:first-child
    	margin-top 25px  	 	
  &__form
  	width 500px
  	height 530px
  	background-color #e9e9e9
  	position absolute
  	right 0
  	top -40px
  	color #1f1f1f
  	padding 40px 22px
  	&-wrap
  		position relative
  		&:first-child
  			content '+7'
  			position absolute
  			left 0
  			top 0
  	&-heading
  		rbc700()
  		font-size 35px	
  		line-height 1.2
  		text-align center
  		width 340px
  		margin 0 auto 50px
  	label
  		margin-bottom 4px
  		margin-top 20px
  		color #1f1f1f
  		font-size 15px
  		display block
  		rbc700()
  	&-field
  		width 100%
  		height 46px
  		border 1px solid rgba(6, 7, 7, 0.2)
  		text-align center	
		color #363636
		rbc400()
	button
		font-size 22px
		rbc700()
		text-transform uppercase
		color #161616
		background-color #fcff00
		height 70px
		line-height 69px
		box-shadow inset 0 0 50.5px 0.5px rgba(6, 7, 7, 0.26)
		position absolute
		border none
		width 100%
		bottom 0
		left 0	