
// CONTENT

// results

.results
	height 100vh
	background: url(../images/results-bg.jpg) no-repeat 70% / cover
	color white
	width 100%
	padding-top 100px
	z-index 10
	position relative
	overflow-y hidden
	&__in
		width 1262px
		margin 0 auto
		height 100vh
	&__heading
		font-size 48px
		width 500px
		padding-top 35px
		position relative
		margin-bottom 35px
		line-height 1.1
		border-top 2px solid #25921a
		&:before
			content ''
			position absolute
			triangle(31px, 16px, 'top', #25921a)
			top -17.5px
	&__text
		width 650px
		line-height 1.35
		font-size 20px
		margin-bottom 45px
		span
			rb400()
	&__info
		position absolute
		top 0
		sprite($bloat)
		left 60%
		padding-left 34px
		padding-top 34px
		top 30px
		&:after
			content ''
			position absolute
			sprite($curve_arrow_right)
			right 15px
			bottom -10px
		&-text
			font-size 14px
			line-height 1.2
			span
				rb400()
	&__ref
		font-family 'aleo bold', sans-serif
		color white
		font-size 21px
		margin-bottom 5px
		display inline-block
	&__button
		height 60px
		line-height 60px
		padding 0 63px 0 38px		
	&__caption
		position absolute
		bottom 48px
		right 0
		width 352px
		height 57px
		background-color rgba(255, 255, 255, 0.8)
		padding-left 17px
		padding-top 4px
		color black
		&-heading
			line-height 1.35
		&-subheading
			font-size 16px	

// management

// points

.points
	width auto
	height 60px
	position absolute
	top -140px
	left 0
	transition transform 0.3s
	&_fixed
		position fixed
		z-index 100
		top 50px
	&__bar-outer
		sprite($outer_bar)
		position relative
	&__bar-inner
		background-color #1c9f00
		background-image linear-gradient(to top, rgba(255, 255, 255, 0.01) 0%, transparent 0%, rgba(255, 255, 255, 0.01) 100%)
		height 8px
		width 100px
		top 50%
		margin-top -(@height / 2)
		left 26px
		position absolute
		border 1px solid #479546
		border-left none
		box-shadow inset 0 2px 0 rgba(255, 255, 255, 0.03), inset 0 0 3px rgba(255, 255, 255, 0.35)
		width 0
		transition all 0.3s
		&_visible
			display block
	&__circle-inner
		width 38px
		height 38px
		border-radius 50%
		border 1px solid #479546
		background-color #1c9f00
		background-image linear-gradient(to top, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.2) 100%)
		box-shadow 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 2px 0 rgba(255, 255, 255, 0.03), inset 0 0 3px rgba(255, 255, 255, 0.35)
		position absolute
		top 50%
		margin-top -(@height / 2)
		left 0
		transition all 0.4s
		transform scale(0)
		-webkit-transform scale(0) /* Для Safari, Chrome, iOS */
		z-index 5
		&_accomplished
			width 21px
			height 21px
			transform scale(1)
			-webkit-transform scale(1)
			left 5px
			margin-top -(@height / 2)
			transition all 0.4s
			&_2
				left 119px !important
			&_3
				left 219px !important	
			&:before
				content ''
				sprite($accomplished)
				position absolute
				top 50%
				left 50%
				margin-top -(@height / 2) - 1px
				margin-left  -(@width / 2)
		&_visible
			width 38px
			height 38px
			transform scale(1)
			-webkit-transform scale(1) /* Для Safari, Chrome, iOS */
			&:before
				content ''
				sprite($circle_dots)
				position absolute
				top 50%
				left 50%
				margin-top -(@height / 2)
				margin-left  -(@width / 2)
		&:nth-child(2)
			left 105px
		&:nth-child(3)
			left 105 * 2 px
		&:nth-child(4)
			right 0px
			left auto
			
.management
	height 100vh
	background-color red
	width 100%
	background url(../images/management-bg.jpg) no-repeat 100% / cover
	padding-top 195px
	position relative
	&__in
		width 1262px
		margin 0 auto
		height 100vh
		position relative
	&__heading
		font-size 48px
		width 500px
		position relative
		margin-bottom 40px
		line-height 1.2
	&__text
		width 650px
		line-height 1.35
		font-size 20px
		margin-bottom 45px
		strong
			rb400()
	&__button
		height 60px
		line-height 60px
		padding 0 62px 0 38px
		clear both
		overflow hidden
		display block
		float left
	&__caption
		position absolute
		bottom 48px
		right 0
		width 352px
		height 57px
		background-color rgba(0, 0, 0, 0.8)
		padding-left 17px
		width 350px
		padding-top 4px
		color white
		display inline-block
		&-heading
			line-height 1.35
		&-subheading
			font-size 16px
	&__audio
		font-size 18px
		color #7d7c7c
		display block
		padding-bottom 1px
		margin-top 22px
		border-bottom 1px dashed #7d7c7c
		clear left
		float left
		
.marketing
	height 100vh
	width 100%
	background url(../images/marketing-bg.jpg) no-repeat 50% / cover
	padding-top 195px
	position relative
	&__in
		width 1262px
		margin 0 auto
		height 100vh
		position relative
	&__heading
		font-size 48px
		width 640px
		position relative
		margin-bottom 40px
		line-height 1.2
	&__text
		width 650px
		line-height 1.35
		font-size 20px
		margin-bottom 45px
		strong
			rb400()
	&__button
		height 60px
		line-height 60px
		padding 0 35px 0 25px
		clear both
		overflow hidden
		display block
		float left
	&__caption
		position absolute
		bottom 48px
		right 0
		width 352px
		height 57px
		background-color rgba(0, 0, 0, 0.8)
		padding-left 17px
		width 350px
		padding-top 4px
		color white
		display inline-block
		&-heading
			line-height 1.35
		&-subheading
			font-size 16px
	&__audio
		font-size 18px
		color #7d7c7c
		display block
		padding-bottom 1px
		margin-top 22px
		border-bottom 1px dashed #7d7c7c
		clear left
		float left
		display block
		padding-bottom 1px
		margin-top 22px
		border-bottom 1px dashed #7d7c7c
		clear left
		float left

// design

.design
	height 100vh
	background-color red
	width 100%
	background url(../images/design-bg.jpg) no-repeat 50% / cover
	padding-top 195px
	position relative
	&__in
		width 1262px
		margin 0 auto
		height 100vh
		position relative
	&__heading
		font-size 48px
		width 500px
		position relative
		margin-bottom 40px
		line-height 1.2
	&__wrap
		width 730px
	&__gif
		width 206px
		height 121px
		float left
		margin-top 5px
		margin-right 25px	
		background-color #99c6d7
		opacity 0.4
	&__text
		width 475px
		line-height 1.35
		font-size 20px
		float left
		margin-bottom 45px
		strong
			rb400()
	&__button
		height 60px
		line-height 60px
		padding 0 60px 0 38px
		clear both
		overflow hidden
		display block
		float left
	&__caption
		position absolute
		bottom 48px
		right 0
		width 352px
		height 57px
		background-color rgba(0, 0, 0, 0.8)
		padding-left 17px
		width 350px
		padding-top 4px
		color white
		display inline-block
		&-heading
			line-height 1.35
		&-subheading
			font-size 16px
	&__audio
		font-size 18px
		color #7d7c7c
		display block
		padding-bottom 1px
		margin-top 22px
		border-bottom 1px dashed #7d7c7c
		clear left
		float left
		
// programming
		
.programming
	height 100vh
	background-color red
	width 100%
	background url(../images/programming-bg.jpg) no-repeat 50% / cover
	padding-top 195px
	position relative
	&__in
		width 1262px
		margin 0 auto
		height 100vh
		position relative
	&__heading
		font-size 48px
		width 500px
		position relative
		margin-bottom 40px
		line-height 1.2
	&__wrap
		width 730px
	&__gif
		width 206px
		height 121px
		float left
		margin-top 5px
		margin-right 25px	
		background-color #99c6d7
		opacity 0.4
	&__text
		width 475px
		line-height 1.35
		font-size 20px
		float left
		margin-bottom 45px
		strong
			rb400()
	&__button
		height 60px
		line-height 60px
		padding 0 50px 0 38px
		clear both
		overflow hidden
		display block
		float left
	&__caption
		position absolute
		bottom 48px
		right 0
		width 352px
		height 57px
		background-color rgba(0, 0, 0, 0.8)
		padding-left 17px
		width 350px
		padding-top 4px
		color white
		display inline-block
		&-heading
			line-height 1.35
		&-subheading
			font-size 16px
	&__audio
		font-size 18px
		color #7d7c7c
		display block
		padding-bottom 1px
		margin-top 22px
		border-bottom 1px dashed #7d7c7c
		clear left
		float left		