// FOOTER

.footer
	height 322px
	background-color #38a3c8
	color white
	padding 50px 0
	&__in
		width 1262px
		margin 0 auto
		clearfix()
	&__logo-and-copyright
		margin-top 60px
		float left
	&__logo
		sprite($logo_large)	
		display block
		margin-bottom 20px
	&__copyright
		font-size 13px
	&__contact
		float left
		margin-left 145px
		margin-top 60px
		a
			display inline-block
			font-size 18px
			padding-bottom 1px
			color white
			border-bottom 1px solid white
			margin 0 8px
			&:first-child
				margin-left 0
			&:last-child
				margin-left 10px	
	&__phone
		font-size 34px
		text-transform uppercase
		margin-bottom 10px
	