/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$accomplished_name = 'accomplished';
$accomplished_x = 555px;
$accomplished_y = 498px;
$accomplished_offset_x = -555px;
$accomplished_offset_y = -498px;
$accomplished_width = 9px;
$accomplished_height = 10px;
$accomplished_total_width = 649px;
$accomplished_total_height = 641px;
$accomplished_image = '../images/sprites/sprites.png';
$accomplished = 555px 498px -555px -498px 9px 10px 649px 641px '../images/sprites/sprites.png' 'accomplished';
$bloat_name = 'bloat';
$bloat_x = 0px;
$bloat_y = 491px;
$bloat_offset_x = 0px;
$bloat_offset_y = -491px;
$bloat_width = 194px;
$bloat_height = 150px;
$bloat_total_width = 649px;
$bloat_total_height = 641px;
$bloat_image = '../images/sprites/sprites.png';
$bloat = 0px 491px 0px -491px 194px 150px 649px 641px '../images/sprites/sprites.png' 'bloat';
$circle_dots_name = 'circle-dots';
$circle_dots_x = 555px;
$circle_dots_y = 491px;
$circle_dots_offset_x = -555px;
$circle_dots_offset_y = -491px;
$circle_dots_width = 23px;
$circle_dots_height = 7px;
$circle_dots_total_width = 649px;
$circle_dots_total_height = 641px;
$circle_dots_image = '../images/sprites/sprites.png';
$circle_dots = 555px 491px -555px -491px 23px 7px 649px 641px '../images/sprites/sprites.png' 'circle-dots';
$curve_arrow_left_name = 'curve-arrow-left';
$curve_arrow_left_x = 457px;
$curve_arrow_left_y = 521px;
$curve_arrow_left_offset_x = -457px;
$curve_arrow_left_offset_y = -521px;
$curve_arrow_left_width = 39px;
$curve_arrow_left_height = 39px;
$curve_arrow_left_total_width = 649px;
$curve_arrow_left_total_height = 641px;
$curve_arrow_left_image = '../images/sprites/sprites.png';
$curve_arrow_left = 457px 521px -457px -521px 39px 39px 649px 641px '../images/sprites/sprites.png' 'curve-arrow-left';
$curve_arrow_right_name = 'curve-arrow-right';
$curve_arrow_right_x = 418px;
$curve_arrow_right_y = 521px;
$curve_arrow_right_offset_x = -418px;
$curve_arrow_right_offset_y = -521px;
$curve_arrow_right_width = 39px;
$curve_arrow_right_height = 60px;
$curve_arrow_right_total_width = 649px;
$curve_arrow_right_total_height = 641px;
$curve_arrow_right_image = '../images/sprites/sprites.png';
$curve_arrow_right = 418px 521px -418px -521px 39px 60px 649px 641px '../images/sprites/sprites.png' 'curve-arrow-right';
$logo_name = 'logo';
$logo_x = 418px;
$logo_y = 491px;
$logo_offset_x = -418px;
$logo_offset_y = -491px;
$logo_width = 137px;
$logo_height = 30px;
$logo_total_width = 649px;
$logo_total_height = 641px;
$logo_image = '../images/sprites/sprites.png';
$logo = 418px 491px -418px -491px 137px 30px 649px 641px '../images/sprites/sprites.png' 'logo';
$maerss_caption_name = 'maerss-caption';
$maerss_caption_x = 194px;
$maerss_caption_y = 491px;
$maerss_caption_offset_x = -194px;
$maerss_caption_offset_y = -491px;
$maerss_caption_width = 224px;
$maerss_caption_height = 99px;
$maerss_caption_total_width = 649px;
$maerss_caption_total_height = 641px;
$maerss_caption_image = '../images/sprites/sprites.png';
$maerss_caption = 194px 491px -194px -491px 224px 99px 649px 641px '../images/sprites/sprites.png' 'maerss-caption';
$outer_bar_name = 'outer-bar';
$outer_bar_x = 194px;
$outer_bar_y = 590px;
$outer_bar_offset_x = -194px;
$outer_bar_offset_y = -590px;
$outer_bar_width = 351px;
$outer_bar_height = 31px;
$outer_bar_total_width = 649px;
$outer_bar_total_height = 641px;
$outer_bar_image = '../images/sprites/sprites.png';
$outer_bar = 194px 590px -194px -590px 351px 31px 649px 641px '../images/sprites/sprites.png' 'outer-bar';
$templates_name = 'templates';
$templates_x = 0px;
$templates_y = 0px;
$templates_offset_x = 0px;
$templates_offset_y = 0px;
$templates_width = 649px;
$templates_height = 491px;
$templates_total_width = 649px;
$templates_total_height = 641px;
$templates_image = '../images/sprites/sprites.png';
$templates = 0px 0px 0px 0px 649px 491px 649px 641px '../images/sprites/sprites.png' 'templates';
$spritesheet_width = 649px;
$spritesheet_height = 641px;
$spritesheet_image = '../images/sprites/sprites.png';
$spritesheet_sprites = $accomplished $bloat $circle_dots $curve_arrow_left $curve_arrow_right $logo $maerss_caption $outer_bar $templates;
$spritesheet = 649px 641px '../images/sprites/sprites.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
