/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$accomplished_name = 'accomplished';
$accomplished_x = 1117px;
$accomplished_y = 414px;
$accomplished_offset_x = -1117px;
$accomplished_offset_y = -414px;
$accomplished_width = 9px;
$accomplished_height = 10px;
$accomplished_total_width = 1152px;
$accomplished_total_height = 980px;
$accomplished_image = '../images/sprites/sprites.png';
$accomplished = 1117px 414px -1117px -414px 9px 10px 1152px 980px '../images/sprites/sprites.png' 'accomplished';
$bloat_name = 'bloat';
$bloat_x = 659px;
$bloat_y = 327px;
$bloat_offset_x = -659px;
$bloat_offset_y = -327px;
$bloat_width = 194px;
$bloat_height = 150px;
$bloat_total_width = 1152px;
$bloat_total_height = 980px;
$bloat_image = '../images/sprites/sprites.png';
$bloat = 659px 327px -659px -327px 194px 150px 1152px 980px '../images/sprites/sprites.png' 'bloat';
$circle_dots_name = 'circle-dots';
$circle_dots_x = 1097px;
$circle_dots_y = 397px;
$circle_dots_offset_x = -1097px;
$circle_dots_offset_y = -397px;
$circle_dots_width = 23px;
$circle_dots_height = 7px;
$circle_dots_total_width = 1152px;
$circle_dots_total_height = 980px;
$circle_dots_image = '../images/sprites/sprites.png';
$circle_dots = 1097px 397px -1097px -397px 23px 7px 1152px 980px '../images/sprites/sprites.png' 'circle-dots';
$curve_arrow_left_name = 'curve-arrow-left';
$curve_arrow_left_x = 1076px;
$curve_arrow_left_y = 487px;
$curve_arrow_left_offset_x = -1076px;
$curve_arrow_left_offset_y = -487px;
$curve_arrow_left_width = 39px;
$curve_arrow_left_height = 39px;
$curve_arrow_left_total_width = 1152px;
$curve_arrow_left_total_height = 980px;
$curve_arrow_left_image = '../images/sprites/sprites.png';
$curve_arrow_left = 1076px 487px -1076px -487px 39px 39px 1152px 980px '../images/sprites/sprites.png' 'curve-arrow-left';
$curve_arrow_right_name = 'curve-arrow-right';
$curve_arrow_right_x = 1097px;
$curve_arrow_right_y = 327px;
$curve_arrow_right_offset_x = -1097px;
$curve_arrow_right_offset_y = -327px;
$curve_arrow_right_width = 39px;
$curve_arrow_right_height = 60px;
$curve_arrow_right_total_width = 1152px;
$curve_arrow_right_total_height = 980px;
$curve_arrow_right_image = '../images/sprites/sprites.png';
$curve_arrow_right = 1097px 327px -1097px -327px 39px 60px 1152px 980px '../images/sprites/sprites.png' 'curve-arrow-right';
$direct_name = 'direct';
$direct_x = 757px;
$direct_y = 568px;
$direct_offset_x = -757px;
$direct_offset_y = -568px;
$direct_width = 120px;
$direct_height = 120px;
$direct_total_width = 1152px;
$direct_total_height = 980px;
$direct_image = '../images/sprites/sprites.png';
$direct = 757px 568px -757px -568px 120px 120px 1152px 980px '../images/sprites/sprites.png' 'direct';
$fancybox_overlay_name = 'fancybox_overlay';
$fancybox_overlay_x = 1097px;
$fancybox_overlay_y = 414px;
$fancybox_overlay_offset_x = -1097px;
$fancybox_overlay_offset_y = -414px;
$fancybox_overlay_width = 10px;
$fancybox_overlay_height = 10px;
$fancybox_overlay_total_width = 1152px;
$fancybox_overlay_total_height = 980px;
$fancybox_overlay_image = '../images/sprites/sprites.png';
$fancybox_overlay = 1097px 414px -1097px -414px 10px 10px 1152px 980px '../images/sprites/sprites.png' 'fancybox_overlay';
$fancybox_sprite_name = 'fancybox_sprite';
$fancybox_sprite_x = 0px;
$fancybox_sprite_y = 828px;
$fancybox_sprite_offset_x = 0px;
$fancybox_sprite_offset_y = -828px;
$fancybox_sprite_width = 44px;
$fancybox_sprite_height = 152px;
$fancybox_sprite_total_width = 1152px;
$fancybox_sprite_total_height = 980px;
$fancybox_sprite_image = '../images/sprites/sprites.png';
$fancybox_sprite = 0px 828px 0px -828px 44px 152px 1152px 980px '../images/sprites/sprites.png' 'fancybox_sprite';
$fancybox_sprite_2x_name = 'fancybox_sprite@2x';
$fancybox_sprite_2x_x = 659px;
$fancybox_sprite_2x_y = 487px;
$fancybox_sprite_2x_offset_x = -659px;
$fancybox_sprite_2x_offset_y = -487px;
$fancybox_sprite_2x_width = 88px;
$fancybox_sprite_2x_height = 304px;
$fancybox_sprite_2x_total_width = 1152px;
$fancybox_sprite_2x_total_height = 980px;
$fancybox_sprite_2x_image = '../images/sprites/sprites.png';
$fancybox_sprite_2x = 659px 487px -659px -487px 88px 304px 1152px 980px '../images/sprites/sprites.png' 'fancybox_sprite@2x';
$logo_large_name = 'logo-large';
$logo_large_x = 757px;
$logo_large_y = 487px;
$logo_large_offset_x = -757px;
$logo_large_offset_y = -487px;
$logo_large_width = 309px;
$logo_large_height = 71px;
$logo_large_total_width = 1152px;
$logo_large_total_height = 980px;
$logo_large_image = '../images/sprites/sprites.png';
$logo_large = 757px 487px -757px -487px 309px 71px 1152px 980px '../images/sprites/sprites.png' 'logo-large';
$logo_name = 'logo';
$logo_x = 863px;
$logo_y = 436px;
$logo_offset_x = -863px;
$logo_offset_y = -436px;
$logo_width = 137px;
$logo_height = 30px;
$logo_total_width = 1152px;
$logo_total_height = 980px;
$logo_image = '../images/sprites/sprites.png';
$logo = 863px 436px -863px -436px 137px 30px 1152px 980px '../images/sprites/sprites.png' 'logo';
$maerss_caption_name = 'maerss-caption';
$maerss_caption_x = 863px;
$maerss_caption_y = 327px;
$maerss_caption_offset_x = -863px;
$maerss_caption_offset_y = -327px;
$maerss_caption_width = 224px;
$maerss_caption_height = 99px;
$maerss_caption_total_width = 1152px;
$maerss_caption_total_height = 980px;
$maerss_caption_image = '../images/sprites/sprites.png';
$maerss_caption = 863px 327px -863px -327px 224px 99px 1152px 980px '../images/sprites/sprites.png' 'maerss-caption';
$outer_bar_blue_name = 'outer-bar-blue';
$outer_bar_blue_x = 757px;
$outer_bar_blue_y = 739px;
$outer_bar_blue_offset_x = -757px;
$outer_bar_blue_offset_y = -739px;
$outer_bar_blue_width = 351px;
$outer_bar_blue_height = 31px;
$outer_bar_blue_total_width = 1152px;
$outer_bar_blue_total_height = 980px;
$outer_bar_blue_image = '../images/sprites/sprites.png';
$outer_bar_blue = 757px 739px -757px -739px 351px 31px 1152px 980px '../images/sprites/sprites.png' 'outer-bar-blue';
$outer_bar_name = 'outer-bar';
$outer_bar_x = 757px;
$outer_bar_y = 698px;
$outer_bar_offset_x = -757px;
$outer_bar_offset_y = -698px;
$outer_bar_width = 351px;
$outer_bar_height = 31px;
$outer_bar_total_width = 1152px;
$outer_bar_total_height = 980px;
$outer_bar_image = '../images/sprites/sprites.png';
$outer_bar = 757px 698px -757px -698px 351px 31px 1152px 980px '../images/sprites/sprites.png' 'outer-bar';
$partners_name = 'partners';
$partners_x = 0px;
$partners_y = 0px;
$partners_offset_x = 0px;
$partners_offset_y = 0px;
$partners_width = 1152px;
$partners_height = 317px;
$partners_total_width = 1152px;
$partners_total_height = 980px;
$partners_image = '../images/sprites/sprites.png';
$partners = 0px 0px 0px 0px 1152px 317px 1152px 980px '../images/sprites/sprites.png' 'partners';
$templates_name = 'templates';
$templates_x = 0px;
$templates_y = 327px;
$templates_offset_x = 0px;
$templates_offset_y = -327px;
$templates_width = 649px;
$templates_height = 491px;
$templates_total_width = 1152px;
$templates_total_height = 980px;
$templates_image = '../images/sprites/sprites.png';
$templates = 0px 327px 0px -327px 649px 491px 1152px 980px '../images/sprites/sprites.png' 'templates';
$video_play_name = 'video-play';
$video_play_x = 887px;
$video_play_y = 568px;
$video_play_offset_x = -887px;
$video_play_offset_y = -568px;
$video_play_width = 87px;
$video_play_height = 90px;
$video_play_total_width = 1152px;
$video_play_total_height = 980px;
$video_play_image = '../images/sprites/sprites.png';
$video_play = 887px 568px -887px -568px 87px 90px 1152px 980px '../images/sprites/sprites.png' 'video-play';
$spritesheet_width = 1152px;
$spritesheet_height = 980px;
$spritesheet_image = '../images/sprites/sprites.png';
$spritesheet_sprites = $accomplished $bloat $circle_dots $curve_arrow_left $curve_arrow_right $direct $fancybox_overlay $fancybox_sprite $fancybox_sprite_2x $logo_large $logo $maerss_caption $outer_bar_blue $outer_bar $partners $templates $video_play;
$spritesheet = 1152px 980px '../images/sprites/sprites.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
