/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$accomplished_name = 'accomplished';
$accomplished_x = 703px;
$accomplished_y = 410px;
$accomplished_offset_x = -703px;
$accomplished_offset_y = -410px;
$accomplished_width = 9px;
$accomplished_height = 10px;
$accomplished_total_width = 737px;
$accomplished_total_height = 672px;
$accomplished_image = '../images/sprites/sprites.png';
$accomplished = 703px 410px -703px -410px 9px 10px 737px 672px '../images/sprites/sprites.png' 'accomplished';
$bloat_name = 'bloat';
$bloat_x = 0px;
$bloat_y = 491px;
$bloat_offset_x = 0px;
$bloat_offset_y = -491px;
$bloat_width = 194px;
$bloat_height = 150px;
$bloat_total_width = 737px;
$bloat_total_height = 672px;
$bloat_image = '../images/sprites/sprites.png';
$bloat = 0px 491px 0px -491px 194px 150px 737px 672px '../images/sprites/sprites.png' 'bloat';
$circle_dots_name = 'circle-dots';
$circle_dots_x = 693px;
$circle_dots_y = 403px;
$circle_dots_offset_x = -693px;
$circle_dots_offset_y = -403px;
$circle_dots_width = 23px;
$circle_dots_height = 7px;
$circle_dots_total_width = 737px;
$circle_dots_total_height = 672px;
$circle_dots_image = '../images/sprites/sprites.png';
$circle_dots = 693px 403px -693px -403px 23px 7px 737px 672px '../images/sprites/sprites.png' 'circle-dots';
$curve_arrow_left_name = 'curve-arrow-left';
$curve_arrow_left_x = 693px;
$curve_arrow_left_y = 364px;
$curve_arrow_left_offset_x = -693px;
$curve_arrow_left_offset_y = -364px;
$curve_arrow_left_width = 39px;
$curve_arrow_left_height = 39px;
$curve_arrow_left_total_width = 737px;
$curve_arrow_left_total_height = 672px;
$curve_arrow_left_image = '../images/sprites/sprites.png';
$curve_arrow_left = 693px 364px -693px -364px 39px 39px 737px 672px '../images/sprites/sprites.png' 'curve-arrow-left';
$curve_arrow_right_name = 'curve-arrow-right';
$curve_arrow_right_x = 693px;
$curve_arrow_right_y = 304px;
$curve_arrow_right_offset_x = -693px;
$curve_arrow_right_offset_y = -304px;
$curve_arrow_right_width = 39px;
$curve_arrow_right_height = 60px;
$curve_arrow_right_total_width = 737px;
$curve_arrow_right_total_height = 672px;
$curve_arrow_right_image = '../images/sprites/sprites.png';
$curve_arrow_right = 693px 304px -693px -304px 39px 60px 737px 672px '../images/sprites/sprites.png' 'curve-arrow-right';
$fancybox_overlay_name = 'fancybox_overlay';
$fancybox_overlay_x = 693px;
$fancybox_overlay_y = 410px;
$fancybox_overlay_offset_x = -693px;
$fancybox_overlay_offset_y = -410px;
$fancybox_overlay_width = 10px;
$fancybox_overlay_height = 10px;
$fancybox_overlay_total_width = 737px;
$fancybox_overlay_total_height = 672px;
$fancybox_overlay_image = '../images/sprites/sprites.png';
$fancybox_overlay = 693px 410px -693px -410px 10px 10px 737px 672px '../images/sprites/sprites.png' 'fancybox_overlay';
$fancybox_sprite_name = 'fancybox_sprite';
$fancybox_sprite_x = 649px;
$fancybox_sprite_y = 304px;
$fancybox_sprite_offset_x = -649px;
$fancybox_sprite_offset_y = -304px;
$fancybox_sprite_width = 44px;
$fancybox_sprite_height = 152px;
$fancybox_sprite_total_width = 737px;
$fancybox_sprite_total_height = 672px;
$fancybox_sprite_image = '../images/sprites/sprites.png';
$fancybox_sprite = 649px 304px -649px -304px 44px 152px 737px 672px '../images/sprites/sprites.png' 'fancybox_sprite';
$fancybox_sprite_2x_name = 'fancybox_sprite@2x';
$fancybox_sprite_2x_x = 649px;
$fancybox_sprite_2x_y = 0px;
$fancybox_sprite_2x_offset_x = -649px;
$fancybox_sprite_2x_offset_y = 0px;
$fancybox_sprite_2x_width = 88px;
$fancybox_sprite_2x_height = 304px;
$fancybox_sprite_2x_total_width = 737px;
$fancybox_sprite_2x_total_height = 672px;
$fancybox_sprite_2x_image = '../images/sprites/sprites.png';
$fancybox_sprite_2x = 649px 0px -649px 0px 88px 304px 737px 672px '../images/sprites/sprites.png' 'fancybox_sprite@2x';
$logo_name = 'logo';
$logo_x = 418px;
$logo_y = 491px;
$logo_offset_x = -418px;
$logo_offset_y = -491px;
$logo_width = 137px;
$logo_height = 30px;
$logo_total_width = 737px;
$logo_total_height = 672px;
$logo_image = '../images/sprites/sprites.png';
$logo = 418px 491px -418px -491px 137px 30px 737px 672px '../images/sprites/sprites.png' 'logo';
$maerss_caption_name = 'maerss-caption';
$maerss_caption_x = 194px;
$maerss_caption_y = 491px;
$maerss_caption_offset_x = -194px;
$maerss_caption_offset_y = -491px;
$maerss_caption_width = 224px;
$maerss_caption_height = 99px;
$maerss_caption_total_width = 737px;
$maerss_caption_total_height = 672px;
$maerss_caption_image = '../images/sprites/sprites.png';
$maerss_caption = 194px 491px -194px -491px 224px 99px 737px 672px '../images/sprites/sprites.png' 'maerss-caption';
$outer_bar_blue_name = 'outer-bar-blue';
$outer_bar_blue_x = 0px;
$outer_bar_blue_y = 641px;
$outer_bar_blue_offset_x = 0px;
$outer_bar_blue_offset_y = -641px;
$outer_bar_blue_width = 351px;
$outer_bar_blue_height = 31px;
$outer_bar_blue_total_width = 737px;
$outer_bar_blue_total_height = 672px;
$outer_bar_blue_image = '../images/sprites/sprites.png';
$outer_bar_blue = 0px 641px 0px -641px 351px 31px 737px 672px '../images/sprites/sprites.png' 'outer-bar-blue';
$outer_bar_name = 'outer-bar';
$outer_bar_x = 194px;
$outer_bar_y = 590px;
$outer_bar_offset_x = -194px;
$outer_bar_offset_y = -590px;
$outer_bar_width = 351px;
$outer_bar_height = 31px;
$outer_bar_total_width = 737px;
$outer_bar_total_height = 672px;
$outer_bar_image = '../images/sprites/sprites.png';
$outer_bar = 194px 590px -194px -590px 351px 31px 737px 672px '../images/sprites/sprites.png' 'outer-bar';
$templates_name = 'templates';
$templates_x = 0px;
$templates_y = 0px;
$templates_offset_x = 0px;
$templates_offset_y = 0px;
$templates_width = 649px;
$templates_height = 491px;
$templates_total_width = 737px;
$templates_total_height = 672px;
$templates_image = '../images/sprites/sprites.png';
$templates = 0px 0px 0px 0px 649px 491px 737px 672px '../images/sprites/sprites.png' 'templates';
$spritesheet_width = 737px;
$spritesheet_height = 672px;
$spritesheet_image = '../images/sprites/sprites.png';
$spritesheet_sprites = $accomplished $bloat $circle_dots $curve_arrow_left $curve_arrow_right $fancybox_overlay $fancybox_sprite $fancybox_sprite_2x $logo $maerss_caption $outer_bar_blue $outer_bar $templates;
$spritesheet = 737px 672px '../images/sprites/sprites.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
